<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital | Dashboard</title>
    <!-- link to css file -->
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/responsive-style.css" />

    <!-- link to google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <!-- header start ===============================================================================-->
    <div class="header-parent-box">
        <div class="header-parent-container">
            <div class="left-header content">
                <img class="header-logo" src="./assets/img/logo.png" alt="">
                <span class="brand-name">Blood Bank</span>
            </div>
            <div class="right-header-content">
                <button class="add-blood" type="submit">+ ADD BLOOD</button>
                <button class="non-active-button">Sign in</button>
            </div>
        </div>
    </div>
    <!-- header end   ===============================================================================-->
</body>
</html>