<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receiver Login</title>

    <!-- link to css file -->
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/responsive-style.css" />

    <!-- link to google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="receiver-sheet receiver-sheet-sm">
        <div class="left-box">
            <div class="signup-banner">
                <img src="/assets/img/logo.png" alt="" class="logo-blood-drop">
                <span class="signup-head">Login</span>
                <span class="signup-sub-head">Welcome back !</span>
            </div>
            <div class="mark">
                <div class="check-border"><i class="material-icons check-svg">check</i></div>
            </div>
        </div>
        <div class="right-box">
            <i class="material-icons label-icons cancel-cross">cancel</i>
            <div class="inputs-boxes login-content">                                                                                                                                                                                                                                                                                                                                                            
                <div class="inputs">
                    <input type="text" id="EMAIL_ID" required>
                    <label for="EMAIL_ID"><i class="material-icons label-icons"> mail</i>&nbsp; EMAIL ID
                        :</label>
                        <div class="inputs">
                            <input  type="password" id="PASSWORD" required>
                            <label for="PASSWORD"><i class="material-icons label-icons"> lock</i>&nbsp;
                                PASSWORD</label>
                        </div>
        </div>
    </div>
    <span class="forgot-password">forgot password ?</span>
                <div class="login-button-group" >
                    <button class="active-button" type="submit">Login</button>
                    <span class="or-divider">or</span>
                    <button class="non-active-button">Register</button>
                    <span class="register-dialog">Not registerd ? <a class="a">register here</a></span>
                </div>
    </div>
</body>

</html>